In [1]:
import pandas as pd
import pandas_profiling

In [2]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')

In [3]:
train.head()

,id,species,margin1,margin2,margin3,margin4,margin5,margin6,margin7,margin8,...,texture55,texture56,texture57,texture58,texture59,texture60,texture61,texture62,texture63,texture64
0,1,Acer_Opalus,0.007812,0.023438,0.023438,0.003906,0.011719,0.009766,0.027344,0.0,...,0.007812,0.000000,0.002930,0.002930,0.035156,0.0,0.0,0.004883,0.000000,0.025391
1,2,Pterocarya_Stenoptera,0.005859,0.000000,0.031250,0.015625,0.025391,0.001953,0.019531,0.0,...,0.000977,0.000000,0.000000,0.000977,0.023438,0.0,0.0,0.000977,0.039062,0.022461
2,3,Quercus_Hartwissiana,0.005859,0.009766,0.019531,0.007812,0.003906,0.005859,0.068359,0.0,...,0.154300,0.000000,0.005859,0.000977,0.007812,0.0,0.0,0.000000,0.020508,0.002930
3,5,Tilia_Tomentosa,0.000000,0.003906,0.023438,0.005859,0.021484,0.019531,0.023438,0.0,...,0.000000,0.000977,0.000000,0.000000,0.020508,0.0,0.0,0.017578,0.000000,0.047852
4,6,Quercus_Variabilis,0.005859,0.003906,0.048828,0.009766,0.013672,0.015625,0.005859,0.0,...,0.096680,0.000000,0.021484,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.031250

In [4]:
test.head()

,id,margin1,margin2,margin3,margin4,margin5,margin6,margin7,margin8,margin9,...,texture55,texture56,texture57,texture58,texture59,texture60,texture61,texture62,texture63,texture64
0,4,0.019531,0.009766,0.078125,0.011719,0.003906,0.015625,0.005859,0.0,0.005859,...,0.006836,0.000000,0.015625,0.000977,0.015625,0.0,0.0,0.000000,0.003906,0.053711
1,7,0.007812,0.005859,0.064453,0.009766,0.003906,0.013672,0.007812,0.0,0.033203,...,0.000000,0.000000,0.006836,0.001953,0.013672,0.0,0.0,0.000977,0.037109,0.044922
2,9,0.000000,0.000000,0.001953,0.021484,0.041016,0.000000,0.023438,0.0,0.011719,...,0.128910,0.000000,0.000977,0.000000,0.000000,0.0,0.0,0.015625,0.000000,0.000000
3,12,0.000000,0.000000,0.009766,0.011719,0.017578,0.000000,0.003906,0.0,0.003906,...,0.012695,0.015625,0.002930,0.036133,0.013672,0.0,0.0,0.089844,0.000000,0.008789
4,13,0.001953,0.000000,0.015625,0.009766,0.039062,0.000000,0.009766,0.0,0.005859,...,0.000000,0.042969,0.016602,0.010742,0.041016,0.0,0.0,0.007812,0.009766,0.007812

In [5]:
df = pd.concat([train.drop('species', axis = 1), test])

In [6]:
df.shape

(1584, 193)

In [7]:
rep = pandas_profiling.ProfileReport(df)

In [9]:
rep.to_file('pandas_report.html')

In [11]:
train.species.value_counts()

Olea_Europaea                  10
Callicarpa_Bodinieri           10
Quercus_Phellos                10
Quercus_Pubescens              10
Quercus_Alnifolia              10
Pterocarya_Stenoptera          10
Quercus_Brantii                10
Zelkova_Serrata                10
Arundinaria_Simonii            10
Salix_Fragilis                 10
Quercus_Hartwissiana           10
Quercus_Coccinea               10
Quercus_Crassifolia            10
Acer_Rubrum                    10
Ulmus_Bergmanniana             10
Celtis_Koraiensis              10
Quercus_x_Hispanica            10
Quercus_Cerris                 10
Quercus_Pontica                10
Tilia_Oliveri                  10
Quercus_Imbricaria             10
Cornus_Macrophylla             10
Magnolia_Heptapeta             10
Acer_Opalus                    10
Lithocarpus_Edulis             10
Populus_Nigra                  10
Populus_Adenopoda              10
Fagus_Sylvatica                10
Quercus_Crassipes              10
Quercus_Rubra                  10
                               ..
Quercus_Afares                 10
Rhododendron_x_Russellianum    10
Quercus_Chrysolepis            10
Magnolia_Salicifolia           10
Tilia_Platyphyllos             10
Alnus_Cordata                  10
Acer_Platanoids                10
Sorbus_Aria                    10
Alnus_Rubra                    10
Quercus_Ilex                   10
Viburnum_Tinus                 10
Cytisus_Battandieri            10
Quercus_Kewensis               10
Quercus_Texana                 10
Prunus_X_Shmittii              10
Salix_Intergra                 10
Betula_Austrosinensis          10
Quercus_Vulcanica              10
Eucalyptus_Glaucescens         10
Eucalyptus_Urnigera            10
Ilex_Cornuta                   10
Quercus_Coccifera              10
Liquidambar_Styraciflua        10
Quercus_Dolicholepis           10
Lithocarpus_Cleistocarpus      10
Acer_Palmatum                  10
Alnus_Viridis                  10
Acer_Saccharinum               10
Acer_Circinatum                10
Quercus_Nigra                  10
Name: species, dtype: int64