In [1]:
import pandas as pd

In [6]:
import os

In [7]:
# data_folder = 'data'
data_folder = '.'

In [2]:
# %ls

data2.csv                     hospidiag_opendata_2011.xlsx  hospidiag.pdf
exemple.csv                   hospidiag_opendata_2012.xlsx  test2.csv
hospidiag_opendata_2008.xlsx  hospidiag_opendata_2013.xlsx  Untitled.ipynb
hospidiag_opendata_2009.xlsx  hospidiag_opendata_2014.xlsx
hospidiag_opendata_2010.xlsx  hospidiag_opendata_2015.xlsx

## `train`

In [20]:
train = pd.read_csv('/'.join([data_folder, "data2.csv"]), sep = ';')

/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
train.head(1)

,Finess,Raison sociale,Provenance des patients (département),Domaines d activités,"âge (deux classes >75 ans, <= 75 ans)",Nombre de séjours/séances MCO des patients en ALD,Nombre total de séjours/séances,annee,cible1
0,10007300,CLINIQUE AMBULATOIRE CENDANEG,01-Ain,D01-Digestif,<=75 ans,19,1061,2008,0.010624
1,10007300,CLINIQUE AMBULATOIRE CENDANEG,01-Ain,D01-Digestif,>75 ans,5,48,2008,0.053320
2,10007300,CLINIQUE AMBULATOIRE CENDANEG,01-Ain,D07-Cardio-vasculaire (hors cathétérismes vasc...,<=75 ans,0,1,2008,0.000000
3,10007300,CLINIQUE AMBULATOIRE CENDANEG,01-Ain,D16-Hématologie,<=75 ans,0,17,2008,0.000000
4,10007300,CLINIQUE AMBULATOIRE CENDANEG,01-Ain,D16-Hématologie,>75 ans,0,2,2008,0.000000

In [11]:
X = train.drop('cible1', axis = 1)
y = train.cible1

## `test`

In [22]:
X_test = pd.read_csv('/'.join([data_folder, "test2.csv"]), sep = ';', index_col = 'id')

/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [23]:
X_test.head(1)

,Finess,Raison sociale,Provenance des patients (département),Domaines d activités,"âge (deux classes >75 ans, <= 75 ans)",Nombre de séjours/séances MCO des patients en ALD,Nombre total de séjours/séances,annee
id,,,,,,,,
0,10007300,CLINIQUE AMBULATOIRE CENDANEG,01-Ain,D01-Digestif,<=75 ans,27,1187,2014

In [24]:
ids = X_test.index

In [25]:
df = pd.concat([X, X_test], axis=0)