## Описание задачи A

Для клиентов, у которых неизвестен пол (которых нет в обучающей выборке `customers_gender_train.csv`, но которые есть в `transactions.csv`), необходимо предсказать вероятность быть мужского пола (значение 1).

Ожидаемый формат посылки решения
```
customer_id,gender
1111111,0
1111112,1
1111113,0.2
...
```

In [1]:
!ls

A.ipynb                    tr_mcc_codes.csv
customers_gender_train.csv tr_types.csv
data.md                    transactions.csv

In [3]:
import pandas as pd

In [28]:
customers_gender_train = pd.read_csv("customers_gender_train.csv", index_col = 'customer_id')

customers_gender_train.head()

             gender
customer_id
75562265          0
10928546          1
69348468          1
84816985          1
61009479          0

In [29]:
customers_gender_train.shape

(12000, 1)

In [19]:
transactions = pd.read_csv("transactions.csv", index_col = 'customer_id')

In [20]:
transactions.head()

            tr_datetime  mcc_code  tr_type    amount term_id
customer_id
39026145     0 10:23:26      4814     1030  -2245.92     NaN
39026145     1 10:19:29      6011     7010  56147.89     NaN
39026145     1 10:20:56      4829     2330 -56147.89     NaN
39026145     1 10:39:54      5499     1010  -1392.47     NaN
39026145     2 15:33:42      5499     1010   -920.83     NaN

In [30]:
transactions.shape

(6849346, 5)

In [25]:
df = transactions.merge(customers_gender_train, left_index=True, right_index=True)

In [27]:
df.shape

(5393337, 6)

In [16]:
len(transactions.customer_id.unique())

15000

In [15]:
len(df.customer_id.unique())

12000